html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Osigurava da cela stranica zauzima visinu */
    overflow-x: hidden;
}


/* Osiguranje da header počinje od vrha */
header {
    position: fixed; /* Da se header "lepi" za vrh stranice */
    margin-top: 0;
    padding-top: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6); /* Tamna pozadina sa 60% providnosti */
    z-index: 10; /* Da bude iznad slike */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blaga senka za bolji kontrast */
    
}

/* Ako postoji razmak zbog drugih elemenata, možeš dodati i ovo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Stilizacija navigacije */
nav {
    background: linear-gradient(90deg, rgba(139, 110, 60, 0.5), rgba(194, 159, 119, 0.5), rgba(166, 124, 82, 0.5)); /* Gradijent sa providnošću */
    color: #ffffff;
    padding: 30px 0; /* Visina zlatne linije */
    position:absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Blaga senka ispod linije */
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-between; /* Razmak između logo-a i linkova */
    background-size: 400% 400%; /* Za bolje kretanje gradijenta */
    animation: gradientAnimation 4s ease infinite; /* Animacija za presijavanje */
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Rezervisano mesto za logo */
.logo-placeholder {
    width: 10px; /* Širina rezervisana za logo */
    height: 10px; /* Visina rezervisana za logo */
}

/* Stil za listu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0 60px; /* Razmak levo i desno od ivica */
    display: flex;
    gap: 30px; /* Razmak između linkova */
    align-items: left;
    justify-content: center;
    /*margin-left: auto; /* Pomera linkove udesno */
}

/* Stil za navigaciju */
nav ul li {
    position: relative; /* Potrebno za apsolutno pozicioniranje linije */
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Didone', 'serif'; /* Jednostavan i lep font */
    font-weight: 500;
    font-size: 16px;
    z-index: 50;
    opacity: 100;
    padding: 10px 20px; /* Unutrašnji razmak za bolju klikabilnost */
    letter-spacing: 1.5px; /* Razmak između slova */
    transition: color 0.3s ease; /* Animacija za hover */
    position: relative; /* Omogućava pseudo-elementima da se pozicioniraju u okviru linka */
}

nav ul li a::after {
    content: ""; /* Prazan sadržaj za liniju */
    position: absolute;
    background-color: #d39e00; /* Boja linije */
    height: 2px; /* Debljina linije */
    width: 0%; /* Početna širina linije */
    bottom: 0; /* Linija ispod teksta */
    left: 50%; /* Početak linije u centru */
    transform: translateX(-50%); /* Centriranje linije ispod teksta */
    transition: width 0.3s ease; /* Glatka animacija širenja linije */
}

nav ul li a:hover::after {
    width: 100%; /* Linija zauzima celu širinu teksta */
}


nav ul li a:hover {
    color: #d39e00; /* Svetlija zlatna nijansa za hover */
    width: 100%;
}

/* Osnovni stilovi za navigaciju */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin: 0 15px;
}
a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Stilovi za padajući meni */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    cursor: pointer;
}

/* Skriva padajući meni dok se ne pređe mišem */
.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, rgba(139, 110, 60, 0.5), rgba(194, 159, 119, 0.5), rgba(166, 124, 82, 0.5)); /* Gradijent sa providnošću */
    color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    bottom: -600%;   
}

/* Kada korisnik pređe mišem na dropdown, prikaži meni */
.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Promeni boju na hover */
.dropdown-content a:hover {
    background: linear-gradient(90deg, rgba(139, 110, 60, 0.5), rgba(194, 159, 119, 0.5), rgba(166, 124, 82, 0.5)); /* Gradijent sa providnošću */
    color: #d39e00;
    
}


/* Tamniji sloj preko slike */
.header-image {
    position: relative; /* Neophodno za pseudo-element */
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-image img {
    width: 100%; /* Slika zauzima celu širinu */
    height: auto;
    display: block;
    object-fit: cover; /* Osigurava da slika lepo popunjava prostor */
    margin: 0; /* Nema razmaka na vrhu */
    z-index: -1;
    background-size: cover;
}

.textOnHeaderImg {
    position: absolute;  /* Pozicionira tekst u odnosu na roditelja */
    top: 42%;  /* Pozicionira tekst vertikalno u sredinu */
    left: 79%;  /* Pozicionira tekst horizontalno u sredinu */
    transform: translate(-50%, -50%);  /* Precizno centrira tekst */
    color: rgba(85, 84, 97, 0.5);  /* Tekst sa providnošću */
    font-size: 3rem;  /* Veličina fonta, prilagodite prema potrebama */
    font-weight: bold;  /* Povećava debljinu fonta */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Dodaje senku za bolji kontrast */
}

.textOnHeaderImg2{
    position: absolute;  /* Pozicionira drugi tekst u odnosu na roditelja */
    top: 54%;  /* Pomeranje na 50% vertikalno */
    left: 80%;  /* Pomeranje horizontalno */
    transform: translate(-50%, -50%);  /* Precizno centrira tekst */
    color: rgba(85, 84, 97, 0.5);  /* Tekst sa providnošću */
    font-size: 2rem;  /* Veličina fonta veća od prethodnog */
    font-weight: bold;  /* Povećava debljinu fonta */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Dodaje senku za bolji kontrast */
    font-family: 'Charmonman', cursive;
}

.buttonOnHeader{
    position: absolute;  /* Pozicionira dugme u odnosu na roditelja */
    top: 60%;  /* Pomeranje na 65% vertikalno, ispod drugog teksta */
    left: 82%;  /* Pomeranje horizontalno u centar */
    transform: translateX(-50%);  /* Centriranje horizontalno */
    padding: 5px 10px;  /* Povećanje prostora unutar dugmeta */
    font-size: 1.1rem;  /* Veličina fonta za dugme */
    font-weight: bold;  /* Deblji font */
    color: #d7d5e1;  /* Boja teksta na dugmetu */
    background-color: rgba(85, 84, 97, 0.4);  /* Providna pozadina dugmeta */
    border: none;  /* Bez ivica */
    border-radius: 5px;  /* Zaobljeni uglovi */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);  /* Senka oko dugmeta */
    cursor: pointer;  /* Prikazivanje kursora prilikom hovera */
}

.buttonOnHeader:hover {
    background-color: rgba(85, 84, 97, 0.9);  /* Tamniji gradijent prilikom hovera */
}


.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Crni sloj sa providnošću */
    z-index: 1;
    pointer-events: none; /* Sloj ne ometa interakcije sa slikom */
}

.logo-image img {
    margin-left: 150px;
    width: 300px;
    height: auto;
    margin-top: 0px; /* Prostor ispod navbara */
}

/*******************HAMBURGER MENU******************************/
@media (max-width: 768px) {
    nav { 
        display: none; /* Sakrij desktop meni na mobilnim uređajima */
    }
/* Hamburger meni - mobilna verzija */
/* Po defaultu sakrij mobilni meni na većim ekranima */
/* Stil za mobilni meni na velikim ekranima */
.mobile-nav {
    display: none; /* Sakrivanje mobilnog menija na velikim ekranima */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(139, 110, 60, 0.5), rgba(194, 159, 119, 0.5), rgba(166, 124, 82, 0.5));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.mobile-logo {
    height: 40px;
}

.textOnHeaderImg {
    position: absolute;  /* Pozicionira tekst u odnosu na roditelja */
    top: 42%;  /* Pozicionira tekst vertikalno u sredinu */
    left: 79%;  /* Pozicionira tekst horizontalno u sredinu */
    transform: translate(-50%, -50%);  /* Precizno centrira tekst */
    color: rgba(85, 84, 97, 0.5);  /* Tekst sa providnošću */
    font-size: 0.8rem;  /* Veličina fonta, prilagodite prema potrebama */
    font-weight: bold;  /* Povećava debljinu fonta */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Dodaje senku za bolji kontrast */
}

.textOnHeaderImg2{
    position: absolute;  /* Pozicionira drugi tekst u odnosu na roditelja */
    top: 54%;  /* Pomeranje na 50% vertikalno */
    left: 80%;  /* Pomeranje horizontalno */
    transform: translate(-50%, -50%);  /* Precizno centrira tekst */
    color: rgba(85, 84, 97, 0.5);  /* Tekst sa providnošću */
    font-size: 0.5rem;  /* Veličina fonta veća od prethodnog */
    font-weight: bold;  /* Povećava debljinu fonta */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Dodaje senku za bolji kontrast */
    font-family: 'Charmonman', cursive;
}

.buttonOnHeader{
    position: absolute;  /* Pozicionira dugme u odnosu na roditelja */
    top: 60%;  /* Pomeranje na 65% vertikalno, ispod drugog teksta */
    left: 82%;  /* Pomeranje horizontalno u centar */
    transform: translateX(-50%);  /* Centriranje horizontalno */
    padding: 5px 10px;  /* Povećanje prostora unutar dugmeta */
    font-size: 0.3rem;  /* Veličina fonta za dugme */
    font-weight: bold;  /* Deblji font */
    color: #d7d5e1;  /* Boja teksta na dugmetu */
    background-color: rgba(85, 84, 97, 0.4);  /* Providna pozadina dugmeta */
    border: none;  /* Bez ivica */
    border-radius: 5px;  /* Zaobljeni uglovi */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);  /* Senka oko dugmeta */
    cursor: pointer;  /* Prikazivanje kursora prilikom hovera */
}

.hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Tamna pozadina */
    color: white;
    text-align: center;
    z-index: 999;
    padding-top: 60px; /* Prostor za logo i dugme */
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 30px;
}

.mobile-menu ul li {
    padding: 15px;
    position: relative;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Didone', 'serif';
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
    position: relative;
}
.mobile-menu ul li a::after {
    content: ""; /* Prazan sadržaj za liniju */
    position: absolute;
    background-color: #d39e00; /* Boja linije */
    height: 2px; /* Debljina linije */
    width: 0%; /* Početna širina linije */
    bottom: 0; /* Linija ispod teksta */
    left: 50%; /* Početak linije u centru */
    transform: translateX(-50%); /* Centriranje linije ispod teksta */
    transition: width 0.3s ease; /* Glatka animacija širenja linije */
}
.mobile-menu ul li a:hover::after {
    width: 100%; /* Linija zauzima celu širinu teksta */
}


.mobile-menu ul li a:hover {
    color: #d39e00; /* Svetlija zlatna nijansa za hover */
    width: 100%;
}
}

/* Media query za male ekrane (mobilni uređaji) */
@media (min-width: 769px) {
    .mobile-nav, .mobile-menu { 
        display: none;  /* Sakrij mobilni meni na desktopu */
    }

    nav {
        display: flex; /* Prikaži desktop meni */
    }
}


/* Stilizacija ikona u footer-u */
footer {
    display: flex;
    justify-content: space-between; /* Razmak između ikona i mape */
    align-items: center;
    padding: 30px 50px;
    background: linear-gradient(90deg, rgba(139, 110, 60, 0.7), rgba(194, 159, 119, 0.7), rgba(166, 124, 82, 0.7)); /* Gradijent sa providnošću */
    color: #ffffff;
    background-size: 400% 400%; /* Za bolje kretanje gradijenta */
    animation: gradientAnimation 4s ease infinite; /* Animacija za presijavanje */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Ikone idu vertikalno */
    align-items: flex-start; /* Poravnaj ih sa leve strane */
    margin-left: 100px;
}

.contact-details a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #333;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #d39e00;
}

.contact-details a i {
    margin-right: 10px;
    font-size: 20px;
}

/* Map styling */
.map-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Poravnaj mapu desno */
    margin-left: 150px;
}

.map-container iframe {
    border-radius: 10px;
    width: 600px;
    height: 300px; /* Po želji možeš promeniti visinu mape */
    position: relative;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Poravnaj sve elemente u vertikalni red */
        padding: 20px 20px;
    }

    .contact-info {
        margin-left: 0;
        margin-bottom: 20px; /* Razmak između kontakt info i mape */
        align-items: center; /* Centriraj ikone */
    }

    .contact-details a {
        font-size: 16px; /* Smanji font na mobilnim uređajima */
    }

    .map-container {
        margin-left: 0;
        width: 100%; /* Mapa će zauzeti celu širinu */
        justify-content: center; /* Centriraj mapu */
    }

    .map-container iframe {
        width: 100%; /* Mapa sada zauzima 100% širine */
        height: 250px; /* Smanji visinu mape na mobilnim uređajima */
    }
}
/* Stilizacija sekcije */
/* Stilizacija sekcije */
/* Stilizacija sekcije Home */

#home section {
    background-color: #e8e1d3;
}

#home {
    display: flex;
    flex-direction: column; /* Postavljanje svih elemenata vertikalno */
    padding: 50px;
    background-color: #f4f4f4;
}

/* Stilizacija kontejnera za tekst i sliku */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 50px; /* Razmak ispod sekcije sa tekstom i slikom */
}

/* Stil za tekst */
.text-content {
    flex: 1;
    padding-right: 30px;
    max-width: 50%; /* Tekst zauzima do pola ekrana */
}

.text-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.text-content .btn-more {
    display: inline-block;
    background-color: #FFD700;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.text-content .btn-more:hover {
    background-color: #e6c100;
}

/* Stil za sliku */
.image-content {
    flex: 1;
    max-width: 50%; /* Slika zauzima do druge polovine ekrana */
    display: flex;
    justify-content: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Stilizacija za video */
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Razmak od prethodne sekcije */
}

.video-container iframe {
    border-radius: 10px;
    width: 100%;  /* Video će zauzeti celu širinu */
    max-width: 1200px;  /* Max širina da se ne proširi previše */
}

/* Media Query za mobilne uređaje */
@media (max-width: 768px) {
    /* Postavka za home sekciju da se sve slaže u koloni */
    #home {
        display: flex;
        flex-direction: column; /* Svi elementi će biti jedan ispod drugog */
        padding: 20px; /* Dodaj padding oko sadržaja */
    }

    /* home-container se takođe postavlja u kolonu */
    .home-container {
        display: flex;
        flex-direction: column; /* Postavlja sve elemente u vertikalni raspored */
        align-items: center; /* Centriranje elemenata */
        width: 100%; /* Maksimalna širina */
        margin-bottom: 20px; /* Razmak ispod home-container */
    }

    /* Postavka za tekst: Centriraj i proširi na celu širinu */
    .text-content {
        max-width: 100%; /* Tekst zauzima celu širinu ekrana */
        text-align: center; /* Centriranje teksta */
        padding-right: 0; /* Uklanjanje paddinga sa desne strane */
        margin-bottom: 20px; /* Razmak ispod teksta */
    }

    /* Smanjivanje fonta za mobilne uređaje */
    .text-content h1 {
        font-size: 1.5rem; /* Manji font za naslov */
    }

    .text-content p {
        font-size: 1rem; /* Manji font za paragraf */
    }

    /* Slika sada zauzima celu širinu ekrana i pojavljuje se ispod teksta */
    .image-content {
        max-width: 100%; /* Slika zauzima celu širinu ekrana */
        margin-top: 20px; /* Razmak između teksta i slike */
        display: flex;
        justify-content: center; /* Centriranje slike */
    }

    .image-content img {
        width: 100%; /* Slika zauzima 100% širine ekrana */
        height: auto; /* Održavanje proporcija slike */
    }

    /* Postavljanje video sekcije da bude ispod slike */
    .video-container {
        margin-top: 30px; /* Razmak od prethodne sekcije */
        width: 100%; /* Video će zauzeti celu širinu ekrana */
    }

    .video-container iframe {
        width: 100%; /* Širina videa */
        height: 200px; /* Manja visina videa na manjim ekranima */
    }
}




/* Stilizacija sekcije */
#about-us {
    display: flex;
    flex-direction: column; /* Postavljanje svih elemenata vertikalno */
    padding: 50px;
    background-color: #f4f4f4;
}

/* Stilizacija kontejnera za tekst i sliku */
.about-us-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 50px;
}

/* Stil za sliku */
.image-content {
    flex: 1;
    max-width: 50%; /* Slika zauzima do pola ekrana */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content .header-image {
    width: 100%;
    height: auto;
    max-height: 400px; /* Maksimalna visina slike */
    object-fit: cover; /* Osigurava da slika popuni prostor */
    border-radius: 10px;
}

/* Stil za tekst */
.text-content {
    flex: 1;
    max-width: 50%; /* Tekst zauzima drugu polovinu ekrana */
    padding-left: 30px;
}

.text-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.text-content .btn-more {
    display: inline-block;
    color: #d7d5e1;  /* Boja teksta na dugmetu */
    background-color: rgba(85, 84, 97, 0.4);  /* Providna pozadina dugmeta */
    border-radius: 5px;  /* Zaobljeni uglovi */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);  /* Senka oko dugmeta */
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.text-content .btn-more:hover {
    background-color: #e6c100;
}

/* Stilizacija za Nas Tim */
.team-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease; /* Dodajte animaciju za uvećavanje sekcije */
}

.team-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.team-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.team-member {
    width: 45%;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Dodajte animaciju za uvećanje svakog člana tima */
}

.team-member h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

.team-member p {
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
}

.team-member-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    /*border-radius: 50%;*/
    object-fit: cover;
    transition: transform 0.3s ease; /* Dodajte animaciju za uvećanje slike */
}

/* Efekat za sliku kada je hover */
/*.team-member-image:hover {
    transform: scale(1.1);
}*/

/* Efekat za uvećanje svih članova tima kada pređete mišem */
.team-section:hover {
    transform: scale(1.05); /* Povećava celu sekciju za 5% */
}

.team-member:hover {
    transform: scale(1.05); /* Povećava svaki član tima za 5% kada pređete mišem */
}


.company-gallery h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}
.company-gallery {
    text-align: center;
    max-width: 3000px; /* Širina galerije može biti veća */
    margin: auto;
    position: relative;
}

.gallery-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 22px; /* Dodaje razmak između slika */
}

.slide {
    min-width: calc(33.33% - 20px); /* Tri slike u redu, uzimajući u obzir gap */
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 500px; /* Povećaj visinu slika, možeš da menjaš po želji */
    object-fit: cover; /* Obavezivanje slika da popune prostor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dodaje blagu senku za bolji izgled */

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 30px;
    z-index: 10;
    background: none; /* Uklanja pozadinu */
    padding: 0; /* Uklanja nepotrebni padding */
    outline: none; /* Uklanja obrub kod fokusa */
}

.prev:hover, .next:hover {
    color: #ffcc00; /* Dodaje hover efekat (žuta boja) */
}

.prev { left: 10px; }
.next { right: 10px; }




